body {
    font-family: "Teko", serif;
}
header {
    text-align: center;
}
header p, .dates {
    color: gray
}
main {
    display: flex;
    gap: 2em;
    justify-content: center;
}
.project {
    font-weight: 600;
}
.divider {
    border-left: 3px solid black;
}
button {
    font-family: inherit;
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 0.5em 0.75em;
    font-size: 1.25rem;
    /* width: 25%; */
}
section {
    
    margin: 2em auto;
    text-align: center;
}
@media (max-width: 540px) {
    main, section {
        padding: 1em;
    }
    
    button {
        width: 100%;
    }
}